// Blockquote
.blockquote {
  background-color: $blockquote-bg;
  position: relative;

  &::after {
    border: 3rem solid transparent;
    border-left-color: $blockquote-bg;
    bottom: 0;
    content: '';
    height: 0;
    left: 0;
    position: absolute;
    transform: translateY(50%);
    width: 0;
  }

  &--arrow-left {

    &::after {
      border-left-color: transparent;
      border-bottom-color: $blockquote-arrow-color;
      transform: translateY(0) translateX(-50%);
    }
  }

  &--w-bg {
    background: url('../images/blockquote-bg.jpg') no-repeat center / cover, $blockquote-bg;
  }

  &--lg {
    padding: 3.5rem 10rem;
  }

  &--sm {
    padding: 2rem 5rem 2rem 7rem;
  }

  &__icon {
    position: absolute;

    &--lg {
      left: 3.5rem;
      top: 4rem;
    }

    &--sm {
      left: 2rem;
      top: 3rem;
    }
  }

  &__text {
    color: $blockquote-text-color;
    font-family: $blockquote-text-ff;
    font-style: italic;
    line-height: 1.44;

    &--lg {
      font-size: $blockquote-text-fz-lg;
      letter-spacing: 0.5px;
      margin-bottom: 2.5rem;
    }

    &--sm {
      font-size: $blockquote-text-fz-sm;
      letter-spacing: 0.3px;
      margin-bottom: 1rem;
    }
  }

  &__author {
    color: $blockquote-author-color;
    font-family: $blockquote-author-ff;

    &--lg {
      font-size: $blockquote-author-fz-lg;
      letter-spacing: 0.35px;
      line-height: 2.22;
    }

    &--sm {
      font-size: $blockquote-author-fz-sm;
      letter-spacing: 0.2px;
      line-height: 1.86;
    }
  }
}