.progressbar-item {
	cursor: pointer;
	align-items: center;
	position: relative;
	margin-top: 2.5rem;

	&--mode {
		margin-right: auto;
	}

	&__icons {
		padding: 0 1.5rem;
	}

	&__secondary {
		padding: 1.1rem 1.4rem;
		height: 75px;
		width: 75px;

		&+& {
			margin-left: 8rem;
		}

		&:hover {
			background-image: url(/src/assets/sprite/hover-icon.png);
		}
	}

	&__primary {
		padding: 1.1rem 1.4rem;
		height: 75px;
		width: 75px;

		&+& {
			margin-left: 8rem;
		}

		&:hover {
			background-image: url(/src/assets/sprite/hover-icon.png);
		}
	}
}