// Testimonial carousel
.testimonial-carousel-section {
	position: relative;
}

.testimonial-carousel {
	&__item {
		&-img {
			width: 20rem;
			margin-top: 0.2rem;
		}

		&-text {
			width: 70%;
			flex-grow: 1;
		}
	}
}