// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$action-camera-icon-name: 'action-camera-icon';
$action-camera-icon-x: 393px;
$action-camera-icon-y: 215px;
$action-camera-icon-offset-x: -393px;
$action-camera-icon-offset-y: -215px;
$action-camera-icon-width: 26px;
$action-camera-icon-height: 26px;
$action-camera-icon-total-width: 428px;
$action-camera-icon-total-height: 422px;
$action-camera-icon-image: '../images/sprite.png';
$action-camera-icon: (393px, 215px, -393px, -215px, 26px, 26px, 428px, 422px, '../images/sprite.png', 'action-camera-icon', );
$additional-accessories-icon-blue-name: 'additional-accessories-icon-blue';
$additional-accessories-icon-blue-x: 236px;
$additional-accessories-icon-blue-y: 250px;
$additional-accessories-icon-blue-offset-x: -236px;
$additional-accessories-icon-blue-offset-y: -250px;
$additional-accessories-icon-blue-width: 52px;
$additional-accessories-icon-blue-height: 49px;
$additional-accessories-icon-blue-total-width: 428px;
$additional-accessories-icon-blue-total-height: 422px;
$additional-accessories-icon-blue-image: '../images/sprite.png';
$additional-accessories-icon-blue: (236px, 250px, -236px, -250px, 52px, 49px, 428px, 422px, '../images/sprite.png', 'additional-accessories-icon-blue', );
$additional-accessories-icon-name: 'additional-accessories-icon';
$additional-accessories-icon-x: 316px;
$additional-accessories-icon-y: 72px;
$additional-accessories-icon-offset-x: -316px;
$additional-accessories-icon-offset-y: -72px;
$additional-accessories-icon-width: 69px;
$additional-accessories-icon-height: 65px;
$additional-accessories-icon-total-width: 428px;
$additional-accessories-icon-total-height: 422px;
$additional-accessories-icon-image: '../images/sprite.png';
$additional-accessories-icon: (316px, 72px, -316px, -72px, 69px, 65px, 428px, 422px, '../images/sprite.png', 'additional-accessories-icon', );
$american-express-logo-name: 'american-express-logo_';
$american-express-logo-x: 0px;
$american-express-logo-y: 187px;
$american-express-logo-offset-x: 0px;
$american-express-logo-offset-y: -187px;
$american-express-logo-width: 92px;
$american-express-logo-height: 58px;
$american-express-logo-total-width: 428px;
$american-express-logo-total-height: 422px;
$american-express-logo-image: '../images/sprite.png';
$american-express-logo-: (0px, 187px, 0px, -187px, 92px, 58px, 428px, 422px, '../images/sprite.png', 'american-express-logo_', );
$apple-icon-name: 'apple-icon';
$apple-icon-x: 316px;
$apple-icon-y: 142px;
$apple-icon-offset-x: -316px;
$apple-icon-offset-y: -142px;
$apple-icon-width: 60px;
$apple-icon-height: 60px;
$apple-icon-total-width: 428px;
$apple-icon-total-height: 422px;
$apple-icon-image: '../images/sprite.png';
$apple-icon: (316px, 142px, -316px, -142px, 60px, 60px, 428px, 422px, '../images/sprite.png', 'apple-icon', );
$bike-parameters-icon-2-gray-name: 'bike-parameters-icon-2-gray';
$bike-parameters-icon-2-gray-x: 0px;
$bike-parameters-icon-2-gray-y: 250px;
$bike-parameters-icon-2-gray-offset-x: 0px;
$bike-parameters-icon-2-gray-offset-y: -250px;
$bike-parameters-icon-2-gray-width: 53px;
$bike-parameters-icon-2-gray-height: 53px;
$bike-parameters-icon-2-gray-total-width: 428px;
$bike-parameters-icon-2-gray-total-height: 422px;
$bike-parameters-icon-2-gray-image: '../images/sprite.png';
$bike-parameters-icon-2-gray: (0px, 250px, 0px, -250px, 53px, 53px, 428px, 422px, '../images/sprite.png', 'bike-parameters-icon-2-gray', );
$bike-parameters-icon-2-name: 'bike-parameters-icon-2';
$bike-parameters-icon-2-x: 58px;
$bike-parameters-icon-2-y: 250px;
$bike-parameters-icon-2-offset-x: -58px;
$bike-parameters-icon-2-offset-y: -250px;
$bike-parameters-icon-2-width: 53px;
$bike-parameters-icon-2-height: 53px;
$bike-parameters-icon-2-total-width: 428px;
$bike-parameters-icon-2-total-height: 422px;
$bike-parameters-icon-2-image: '../images/sprite.png';
$bike-parameters-icon-2: (58px, 250px, -58px, -250px, 53px, 53px, 428px, 422px, '../images/sprite.png', 'bike-parameters-icon-2', );
$bike-parameters-icon-blue-name: 'bike-parameters-icon-blue';
$bike-parameters-icon-blue-x: 116px;
$bike-parameters-icon-blue-y: 250px;
$bike-parameters-icon-blue-offset-x: -116px;
$bike-parameters-icon-blue-offset-y: -250px;
$bike-parameters-icon-blue-width: 55px;
$bike-parameters-icon-blue-height: 49px;
$bike-parameters-icon-blue-total-width: 428px;
$bike-parameters-icon-blue-total-height: 422px;
$bike-parameters-icon-blue-image: '../images/sprite.png';
$bike-parameters-icon-blue: (116px, 250px, -116px, -250px, 55px, 49px, 428px, 422px, '../images/sprite.png', 'bike-parameters-icon-blue', );
$bike-parameters-icon-gray-name: 'bike-parameters-icon-gray';
$bike-parameters-icon-gray-x: 176px;
$bike-parameters-icon-gray-y: 250px;
$bike-parameters-icon-gray-offset-x: -176px;
$bike-parameters-icon-gray-offset-y: -250px;
$bike-parameters-icon-gray-width: 55px;
$bike-parameters-icon-gray-height: 49px;
$bike-parameters-icon-gray-total-width: 428px;
$bike-parameters-icon-gray-total-height: 422px;
$bike-parameters-icon-gray-image: '../images/sprite.png';
$bike-parameters-icon-gray: (176px, 250px, -176px, -250px, 55px, 49px, 428px, 422px, '../images/sprite.png', 'bike-parameters-icon-gray', );
$bike-type-sport-icon-name: 'bike-type-sport-icon';
$bike-type-sport-icon-x: 160px;
$bike-type-sport-icon-y: 0px;
$bike-type-sport-icon-offset-x: -160px;
$bike-type-sport-icon-offset-y: 0px;
$bike-type-sport-icon-width: 71px;
$bike-type-sport-icon-height: 82px;
$bike-type-sport-icon-total-width: 428px;
$bike-type-sport-icon-total-height: 422px;
$bike-type-sport-icon-image: '../images/sprite.png';
$bike-type-sport-icon: (160px, 0px, -160px, 0px, 71px, 82px, 428px, 422px, '../images/sprite.png', 'bike-type-sport-icon', );
$blockquote-big-icon-name: 'blockquote-big-icon';
$blockquote-big-icon-x: 344px;
$blockquote-big-icon-y: 250px;
$blockquote-big-icon-offset-x: -344px;
$blockquote-big-icon-offset-y: -250px;
$blockquote-big-icon-width: 42px;
$blockquote-big-icon-height: 31px;
$blockquote-big-icon-total-width: 428px;
$blockquote-big-icon-total-height: 422px;
$blockquote-big-icon-image: '../images/sprite.png';
$blockquote-big-icon: (344px, 250px, -344px, -250px, 42px, 31px, 428px, 422px, '../images/sprite.png', 'blockquote-big-icon', );
$cart-icon-cuted-name: 'cart-icon-cuted';
$cart-icon-cuted-x: 393px;
$cart-icon-cuted-y: 274px;
$cart-icon-cuted-offset-x: -393px;
$cart-icon-cuted-offset-y: -274px;
$cart-icon-cuted-width: 28px;
$cart-icon-cuted-height: 23px;
$cart-icon-cuted-total-width: 428px;
$cart-icon-cuted-total-height: 422px;
$cart-icon-cuted-image: '../images/sprite.png';
$cart-icon-cuted: (393px, 274px, -393px, -274px, 28px, 23px, 428px, 422px, '../images/sprite.png', 'cart-icon-cuted', );
$cart-icon-name: 'cart-icon';
$cart-icon-x: 393px;
$cart-icon-y: 246px;
$cart-icon-offset-x: -393px;
$cart-icon-offset-y: -246px;
$cart-icon-width: 29px;
$cart-icon-height: 23px;
$cart-icon-total-width: 428px;
$cart-icon-total-height: 422px;
$cart-icon-image: '../images/sprite.png';
$cart-icon: (393px, 246px, -393px, -246px, 29px, 23px, 428px, 422px, '../images/sprite.png', 'cart-icon', );
$chip-icon-name: 'chip-icon';
$chip-icon-x: 393px;
$chip-icon-y: 115px;
$chip-icon-offset-x: -393px;
$chip-icon-offset-y: -115px;
$chip-icon-width: 23px;
$chip-icon-height: 35px;
$chip-icon-total-width: 428px;
$chip-icon-total-height: 422px;
$chip-icon-image: '../images/sprite.png';
$chip-icon: (393px, 115px, -393px, -115px, 23px, 35px, 428px, 422px, '../images/sprite.png', 'chip-icon', );
$cup-icon-name: 'cup-icon';
$cup-icon-x: 236px;
$cup-icon-y: 80px;
$cup-icon-offset-x: -236px;
$cup-icon-offset-y: -80px;
$cup-icon-width: 64px;
$cup-icon-height: 86px;
$cup-icon-total-width: 428px;
$cup-icon-total-height: 422px;
$cup-icon-image: '../images/sprite.png';
$cup-icon: (236px, 80px, -236px, -80px, 64px, 86px, 428px, 422px, '../images/sprite.png', 'cup-icon', );
$customize-icon-name: 'customize-icon';
$customize-icon-x: 393px;
$customize-icon-y: 302px;
$customize-icon-offset-x: -393px;
$customize-icon-offset-y: -302px;
$customize-icon-width: 29px;
$customize-icon-height: 21px;
$customize-icon-total-width: 428px;
$customize-icon-total-height: 422px;
$customize-icon-image: '../images/sprite.png';
$customize-icon: (393px, 302px, -393px, -302px, 29px, 21px, 428px, 422px, '../images/sprite.png', 'customize-icon', );
$date-icon-name: 'date-icon';
$date-icon-x: 212px;
$date-icon-y: 152px;
$date-icon-offset-x: -212px;
$date-icon-offset-y: -152px;
$date-icon-width: 19px;
$date-icon-height: 19px;
$date-icon-total-width: 428px;
$date-icon-total-height: 422px;
$date-icon-image: '../images/sprite.png';
$date-icon: (212px, 152px, -212px, -152px, 19px, 19px, 428px, 422px, '../images/sprite.png', 'date-icon', );
$dead-keyboard-icon-name: 'dead-keyboard-icon';
$dead-keyboard-icon-x: 0px;
$dead-keyboard-icon-y: 90px;
$dead-keyboard-icon-offset-x: 0px;
$dead-keyboard-icon-offset-y: -90px;
$dead-keyboard-icon-width: 72px;
$dead-keyboard-icon-height: 92px;
$dead-keyboard-icon-total-width: 428px;
$dead-keyboard-icon-total-height: 422px;
$dead-keyboard-icon-image: '../images/sprite.png';
$dead-keyboard-icon: (0px, 90px, 0px, -90px, 72px, 92px, 428px, 422px, '../images/sprite.png', 'dead-keyboard-icon', );
$delivery-icon-name: 'delivery-icon';
$delivery-icon-x: 393px;
$delivery-icon-y: 155px;
$delivery-icon-offset-x: -393px;
$delivery-icon-offset-y: -155px;
$delivery-icon-width: 33px;
$delivery-icon-height: 24px;
$delivery-icon-total-width: 428px;
$delivery-icon-total-height: 422px;
$delivery-icon-image: '../images/sprite.png';
$delivery-icon: (393px, 155px, -393px, -155px, 33px, 24px, 428px, 422px, '../images/sprite.png', 'delivery-icon', );
$edit-icon-gray-name: 'edit-icon-gray';
$edit-icon-gray-x: 393px;
$edit-icon-gray-y: 40px;
$edit-icon-gray-offset-x: -393px;
$edit-icon-gray-offset-y: -40px;
$edit-icon-gray-width: 33px;
$edit-icon-gray-height: 33px;
$edit-icon-gray-total-width: 428px;
$edit-icon-gray-total-height: 422px;
$edit-icon-gray-image: '../images/sprite.png';
$edit-icon-gray: (393px, 40px, -393px, -40px, 33px, 33px, 428px, 422px, '../images/sprite.png', 'edit-icon-gray', );
$eng-flag-icon-name: 'eng-flag-icon';
$eng-flag-icon-x: 291px;
$eng-flag-icon-y: 187px;
$eng-flag-icon-offset-x: -291px;
$eng-flag-icon-offset-y: -187px;
$eng-flag-icon-width: 20px;
$eng-flag-icon-height: 20px;
$eng-flag-icon-total-width: 428px;
$eng-flag-icon-total-height: 422px;
$eng-flag-icon-image: '../images/sprite.png';
$eng-flag-icon: (291px, 187px, -291px, -187px, 20px, 20px, 428px, 422px, '../images/sprite.png', 'eng-flag-icon', );
$eng-lag-icon-name: 'eng-lag-icon';
$eng-lag-icon-x: 291px;
$eng-lag-icon-y: 212px;
$eng-lag-icon-offset-x: -291px;
$eng-lag-icon-offset-y: -212px;
$eng-lag-icon-width: 20px;
$eng-lag-icon-height: 20px;
$eng-lag-icon-total-width: 428px;
$eng-lag-icon-total-height: 422px;
$eng-lag-icon-image: '../images/sprite.png';
$eng-lag-icon: (291px, 212px, -291px, -212px, 20px, 20px, 428px, 422px, '../images/sprite.png', 'eng-lag-icon', );
$facebook-btn-icon-name: 'facebook-btn-icon';
$facebook-btn-icon-x: 0px;
$facebook-btn-icon-y: 402px;
$facebook-btn-icon-offset-x: 0px;
$facebook-btn-icon-offset-y: -402px;
$facebook-btn-icon-width: 10px;
$facebook-btn-icon-height: 20px;
$facebook-btn-icon-total-width: 428px;
$facebook-btn-icon-total-height: 422px;
$facebook-btn-icon-image: '../images/sprite.png';
$facebook-btn-icon: (0px, 402px, 0px, -402px, 10px, 20px, 428px, 422px, '../images/sprite.png', 'facebook-btn-icon', );
$google-btn-icon-name: 'google-btn-icon';
$google-btn-icon-x: 96px;
$google-btn-icon-y: 308px;
$google-btn-icon-offset-x: -96px;
$google-btn-icon-offset-y: -308px;
$google-btn-icon-width: 18px;
$google-btn-icon-height: 20px;
$google-btn-icon-total-width: 428px;
$google-btn-icon-total-height: 422px;
$google-btn-icon-image: '../images/sprite.png';
$google-btn-icon: (96px, 308px, -96px, -308px, 18px, 20px, 428px, 422px, '../images/sprite.png', 'google-btn-icon', );
$google-play-icon-name: 'google-play-icon';
$google-play-icon-x: 160px;
$google-play-icon-y: 87px;
$google-play-icon-offset-x: -160px;
$google-play-icon-offset-y: -87px;
$google-play-icon-width: 60px;
$google-play-icon-height: 60px;
$google-play-icon-total-width: 428px;
$google-play-icon-total-height: 422px;
$google-play-icon-image: '../images/sprite.png';
$google-play-icon: (160px, 87px, -160px, -87px, 60px, 60px, 428px, 422px, '../images/sprite.png', 'google-play-icon', );
$hover-icon-name: 'hover-icon';
$hover-icon-x: 236px;
$hover-icon-y: 0px;
$hover-icon-offset-x: -236px;
$hover-icon-offset-y: 0px;
$hover-icon-width: 75px;
$hover-icon-height: 75px;
$hover-icon-total-width: 428px;
$hover-icon-total-height: 422px;
$hover-icon-image: '../images/sprite.png';
$hover-icon: (236px, 0px, -236px, 0px, 75px, 75px, 428px, 422px, '../images/sprite.png', 'hover-icon', );
$instagram-btn-icon-name: 'instagram-btn-icon';
$instagram-btn-icon-x: 21px;
$instagram-btn-icon-y: 355px;
$instagram-btn-icon-offset-x: -21px;
$instagram-btn-icon-offset-y: -355px;
$instagram-btn-icon-width: 18px;
$instagram-btn-icon-height: 18px;
$instagram-btn-icon-total-width: 428px;
$instagram-btn-icon-total-height: 422px;
$instagram-btn-icon-image: '../images/sprite.png';
$instagram-btn-icon: (21px, 355px, -21px, -355px, 18px, 18px, 428px, 422px, '../images/sprite.png', 'instagram-btn-icon', );
$linkedin-btn-icon-name: 'linkedin-btn-icon';
$linkedin-btn-icon-x: 144px;
$linkedin-btn-icon-y: 308px;
$linkedin-btn-icon-offset-x: -144px;
$linkedin-btn-icon-offset-y: -308px;
$linkedin-btn-icon-width: 18px;
$linkedin-btn-icon-height: 17px;
$linkedin-btn-icon-total-width: 428px;
$linkedin-btn-icon-total-height: 422px;
$linkedin-btn-icon-image: '../images/sprite.png';
$linkedin-btn-icon: (144px, 308px, -144px, -308px, 18px, 17px, 428px, 422px, '../images/sprite.png', 'linkedin-btn-icon', );
$logo-icon-big-name: 'logo-icon-big';
$logo-icon-big-x: 316px;
$logo-icon-big-y: 0px;
$logo-icon-big-offset-x: -316px;
$logo-icon-big-offset-y: 0px;
$logo-icon-big-width: 72px;
$logo-icon-big-height: 67px;
$logo-icon-big-total-width: 428px;
$logo-icon-big-total-height: 422px;
$logo-icon-big-image: '../images/sprite.png';
$logo-icon-big: (316px, 0px, -316px, 0px, 72px, 67px, 428px, 422px, '../images/sprite.png', 'logo-icon-big', );
$logo-icon-sm-name: 'logo-icon-sm';
$logo-icon-sm-x: 316px;
$logo-icon-sm-y: 207px;
$logo-icon-sm-offset-x: -316px;
$logo-icon-sm-offset-y: -207px;
$logo-icon-sm-width: 38px;
$logo-icon-sm-height: 36px;
$logo-icon-sm-total-width: 428px;
$logo-icon-sm-total-height: 422px;
$logo-icon-sm-image: '../images/sprite.png';
$logo-icon-sm: (316px, 207px, -316px, -207px, 38px, 36px, 428px, 422px, '../images/sprite.png', 'logo-icon-sm', );
$mail-btn-icon-name: 'mail-btn-icon';
$mail-btn-icon-x: 119px;
$mail-btn-icon-y: 308px;
$mail-btn-icon-offset-x: -119px;
$mail-btn-icon-offset-y: -308px;
$mail-btn-icon-width: 20px;
$mail-btn-icon-height: 17px;
$mail-btn-icon-total-width: 428px;
$mail-btn-icon-total-height: 422px;
$mail-btn-icon-image: '../images/sprite.png';
$mail-btn-icon: (119px, 308px, -119px, -308px, 20px, 17px, 428px, 422px, '../images/sprite.png', 'mail-btn-icon', );
$mail-icon-name: 'mail-icon';
$mail-icon-x: 51px;
$mail-icon-y: 308px;
$mail-icon-offset-x: -51px;
$mail-icon-offset-y: -308px;
$mail-icon-width: 40px;
$mail-icon-height: 32px;
$mail-icon-total-width: 428px;
$mail-icon-total-height: 422px;
$mail-icon-image: '../images/sprite.png';
$mail-icon: (51px, 308px, -51px, -308px, 40px, 32px, 428px, 422px, '../images/sprite.png', 'mail-icon', );
$map-logo-icon-name: 'map-logo-icon';
$map-logo-icon-x: 0px;
$map-logo-icon-y: 308px;
$map-logo-icon-offset-x: 0px;
$map-logo-icon-offset-y: -308px;
$map-logo-icon-width: 46px;
$map-logo-icon-height: 42px;
$map-logo-icon-total-width: 428px;
$map-logo-icon-total-height: 422px;
$map-logo-icon-image: '../images/sprite.png';
$map-logo-icon: (0px, 308px, 0px, -308px, 46px, 42px, 428px, 422px, '../images/sprite.png', 'map-logo-icon', );
$master-card-logo-name: 'master-card-logo';
$master-card-logo-x: 97px;
$master-card-logo-y: 187px;
$master-card-logo-offset-x: -97px;
$master-card-logo-offset-y: -187px;
$master-card-logo-width: 92px;
$master-card-logo-height: 58px;
$master-card-logo-total-width: 428px;
$master-card-logo-total-height: 422px;
$master-card-logo-image: '../images/sprite.png';
$master-card-logo: (97px, 187px, -97px, -187px, 92px, 58px, 428px, 422px, '../images/sprite.png', 'master-card-logo', );
$mouse-icon-name: 'mouse-icon';
$mouse-icon-x: 89px;
$mouse-icon-y: 0px;
$mouse-icon-offset-x: -89px;
$mouse-icon-offset-y: 0px;
$mouse-icon-width: 66px;
$mouse-icon-height: 100px;
$mouse-icon-total-width: 428px;
$mouse-icon-total-height: 422px;
$mouse-icon-image: '../images/sprite.png';
$mouse-icon: (89px, 0px, -89px, 0px, 66px, 100px, 428px, 422px, '../images/sprite.png', 'mouse-icon', );
$place-icon-sm-name: 'place-icon-sm';
$place-icon-sm-x: 0px;
$place-icon-sm-y: 355px;
$place-icon-sm-offset-x: 0px;
$place-icon-sm-offset-y: -355px;
$place-icon-sm-width: 16px;
$place-icon-sm-height: 21px;
$place-icon-sm-total-width: 428px;
$place-icon-sm-total-height: 422px;
$place-icon-sm-image: '../images/sprite.png';
$place-icon-sm: (0px, 355px, 0px, -355px, 16px, 21px, 428px, 422px, '../images/sprite.png', 'place-icon-sm', );
$protection-icon-name: 'protection-icon';
$protection-icon-x: 393px;
$protection-icon-y: 184px;
$protection-icon-offset-x: -393px;
$protection-icon-offset-y: -184px;
$protection-icon-width: 28px;
$protection-icon-height: 26px;
$protection-icon-total-width: 428px;
$protection-icon-total-height: 422px;
$protection-icon-image: '../images/sprite.png';
$protection-icon: (393px, 184px, -393px, -184px, 28px, 26px, 428px, 422px, '../images/sprite.png', 'protection-icon', );
$quote-icon-name: 'quote-icon';
$quote-icon-x: 393px;
$quote-icon-y: 328px;
$quote-icon-offset-x: -393px;
$quote-icon-offset-y: -328px;
$quote-icon-width: 28px;
$quote-icon-height: 20px;
$quote-icon-total-width: 428px;
$quote-icon-total-height: 422px;
$quote-icon-image: '../images/sprite.png';
$quote-icon: (393px, 328px, -393px, -328px, 28px, 20px, 428px, 422px, '../images/sprite.png', 'quote-icon', );
$rrs-btn-icon-name: 'rrs-btn-icon';
$rrs-btn-icon-x: 0px;
$rrs-btn-icon-y: 381px;
$rrs-btn-icon-offset-x: 0px;
$rrs-btn-icon-offset-y: -381px;
$rrs-btn-icon-width: 16px;
$rrs-btn-icon-height: 16px;
$rrs-btn-icon-total-width: 428px;
$rrs-btn-icon-total-height: 422px;
$rrs-btn-icon-image: '../images/sprite.png';
$rrs-btn-icon: (0px, 381px, 0px, -381px, 16px, 16px, 428px, 422px, '../images/sprite.png', 'rrs-btn-icon', );
$share-btn-icon-name: 'share-btn-icon';
$share-btn-icon-x: 359px;
$share-btn-icon-y: 207px;
$share-btn-icon-offset-x: -359px;
$share-btn-icon-offset-y: -207px;
$share-btn-icon-width: 22px;
$share-btn-icon-height: 22px;
$share-btn-icon-total-width: 428px;
$share-btn-icon-total-height: 422px;
$share-btn-icon-image: '../images/sprite.png';
$share-btn-icon: (359px, 207px, -359px, -207px, 22px, 22px, 428px, 422px, '../images/sprite.png', 'share-btn-icon', );
$skype-icon-name: 'skype-icon';
$skype-icon-x: 393px;
$skype-icon-y: 0px;
$skype-icon-offset-x: -393px;
$skype-icon-offset-y: 0px;
$skype-icon-width: 35px;
$skype-icon-height: 35px;
$skype-icon-total-width: 428px;
$skype-icon-total-height: 422px;
$skype-icon-image: '../images/sprite.png';
$skype-icon: (393px, 0px, -393px, 0px, 35px, 35px, 428px, 422px, '../images/sprite.png', 'skype-icon', );
$tag-icon-name: 'tag-icon';
$tag-icon-x: 160px;
$tag-icon-y: 152px;
$tag-icon-offset-x: -160px;
$tag-icon-offset-y: -152px;
$tag-icon-width: 21px;
$tag-icon-height: 22px;
$tag-icon-total-width: 428px;
$tag-icon-total-height: 422px;
$tag-icon-image: '../images/sprite.png';
$tag-icon: (160px, 152px, -160px, -152px, 21px, 22px, 428px, 422px, '../images/sprite.png', 'tag-icon', );
$telephone-icon-name: 'telephone-icon';
$telephone-icon-x: 393px;
$telephone-icon-y: 78px;
$telephone-icon-offset-x: -393px;
$telephone-icon-offset-y: -78px;
$telephone-icon-width: 32px;
$telephone-icon-height: 32px;
$telephone-icon-total-width: 428px;
$telephone-icon-total-height: 422px;
$telephone-icon-image: '../images/sprite.png';
$telephone-icon: (393px, 78px, -393px, -78px, 32px, 32px, 428px, 422px, '../images/sprite.png', 'telephone-icon', );
$time-icon-name: 'time-icon';
$time-icon-x: 44px;
$time-icon-y: 355px;
$time-icon-offset-x: -44px;
$time-icon-offset-y: -355px;
$time-icon-width: 17px;
$time-icon-height: 17px;
$time-icon-total-width: 428px;
$time-icon-total-height: 422px;
$time-icon-image: '../images/sprite.png';
$time-icon: (44px, 355px, -44px, -355px, 17px, 17px, 428px, 422px, '../images/sprite.png', 'time-icon', );
$trinket-bg-name: 'trinket-bg';
$trinket-bg-x: 293px;
$trinket-bg-y: 250px;
$trinket-bg-offset-x: -293px;
$trinket-bg-offset-y: -250px;
$trinket-bg-width: 46px;
$trinket-bg-height: 46px;
$trinket-bg-total-width: 428px;
$trinket-bg-total-height: 422px;
$trinket-bg-image: '../images/sprite.png';
$trinket-bg: (293px, 250px, -293px, -250px, 46px, 46px, 428px, 422px, '../images/sprite.png', 'trinket-bg', );
$trinket-name: 'trinket';
$trinket-x: 186px;
$trinket-y: 152px;
$trinket-offset-x: -186px;
$trinket-offset-y: -152px;
$trinket-width: 21px;
$trinket-height: 22px;
$trinket-total-width: 428px;
$trinket-total-height: 422px;
$trinket-image: '../images/sprite.png';
$trinket: (186px, 152px, -186px, -152px, 21px, 22px, 428px, 422px, '../images/sprite.png', 'trinket', );
$twitter-btn-icon-name: 'twitter-btn-icon';
$twitter-btn-icon-x: 66px;
$twitter-btn-icon-y: 355px;
$twitter-btn-icon-offset-x: -66px;
$twitter-btn-icon-offset-y: -355px;
$twitter-btn-icon-width: 18px;
$twitter-btn-icon-height: 15px;
$twitter-btn-icon-total-width: 428px;
$twitter-btn-icon-total-height: 422px;
$twitter-btn-icon-image: '../images/sprite.png';
$twitter-btn-icon: (66px, 355px, -66px, -355px, 18px, 15px, 428px, 422px, '../images/sprite.png', 'twitter-btn-icon', );
$visa-logo-name: 'visa-logo';
$visa-logo-x: 194px;
$visa-logo-y: 187px;
$visa-logo-offset-x: -194px;
$visa-logo-offset-y: -187px;
$visa-logo-width: 92px;
$visa-logo-height: 58px;
$visa-logo-total-width: 428px;
$visa-logo-total-height: 422px;
$visa-logo-image: '../images/sprite.png';
$visa-logo: (194px, 187px, -194px, -187px, 92px, 58px, 428px, 422px, '../images/sprite.png', 'visa-logo', );
$vk-btn-icon-name: 'vk-btn-icon';
$vk-btn-icon-x: 167px;
$vk-btn-icon-y: 308px;
$vk-btn-icon-offset-x: -167px;
$vk-btn-icon-offset-y: -308px;
$vk-btn-icon-width: 22px;
$vk-btn-icon-height: 13px;
$vk-btn-icon-total-width: 428px;
$vk-btn-icon-total-height: 422px;
$vk-btn-icon-image: '../images/sprite.png';
$vk-btn-icon: (167px, 308px, -167px, -308px, 22px, 13px, 428px, 422px, '../images/sprite.png', 'vk-btn-icon', );
$wheel-icon-name: 'wheel-icon_';
$wheel-icon-x: 0px;
$wheel-icon-y: 0px;
$wheel-icon-offset-x: 0px;
$wheel-icon-offset-y: 0px;
$wheel-icon-width: 84px;
$wheel-icon-height: 85px;
$wheel-icon-total-width: 428px;
$wheel-icon-total-height: 422px;
$wheel-icon-image: '../images/sprite.png';
$wheel-icon-: (0px, 0px, 0px, 0px, 84px, 85px, 428px, 422px, '../images/sprite.png', 'wheel-icon_', );
$windows-store-icon-name: 'windows-store-icon';
$windows-store-icon-x: 89px;
$windows-store-icon-y: 105px;
$windows-store-icon-offset-x: -89px;
$windows-store-icon-offset-y: -105px;
$windows-store-icon-width: 60px;
$windows-store-icon-height: 60px;
$windows-store-icon-total-width: 428px;
$windows-store-icon-total-height: 422px;
$windows-store-icon-image: '../images/sprite.png';
$windows-store-icon: (89px, 105px, -89px, -105px, 60px, 60px, 428px, 422px, '../images/sprite.png', 'windows-store-icon', );
$spritesheet-width: 428px;
$spritesheet-height: 422px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($action-camera-icon, $additional-accessories-icon-blue, $additional-accessories-icon, $american-express-logo-, $apple-icon, $bike-parameters-icon-2-gray, $bike-parameters-icon-2, $bike-parameters-icon-blue, $bike-parameters-icon-gray, $bike-type-sport-icon, $blockquote-big-icon, $cart-icon-cuted, $cart-icon, $chip-icon, $cup-icon, $customize-icon, $date-icon, $dead-keyboard-icon, $delivery-icon, $edit-icon-gray, $eng-flag-icon, $eng-lag-icon, $facebook-btn-icon, $google-btn-icon, $google-play-icon, $hover-icon, $instagram-btn-icon, $linkedin-btn-icon, $logo-icon-big, $logo-icon-sm, $mail-btn-icon, $mail-icon, $map-logo-icon, $master-card-logo, $mouse-icon, $place-icon-sm, $protection-icon, $quote-icon, $rrs-btn-icon, $share-btn-icon, $skype-icon, $tag-icon, $telephone-icon, $time-icon, $trinket-bg, $trinket, $twitter-btn-icon, $visa-logo, $vk-btn-icon, $wheel-icon-, $windows-store-icon, );
$spritesheet: (428px, 422px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
