// reset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: $html-font-size;
}

body {
  color: $body-font-color;
  font: $body-fw $body-fz/$body-lh $body-font;
}

table {
  border-collapse: collapse;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

input,
textarea {
  border: 0;
  background-color: transparent;
  outline: none;
}

textarea {
  resize: vertical;
}

button {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  cursor: pointer;
  outline: none;
}